<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<johnson.fileCopyMonitor>
		<monitors>
			<add xdt:Transform="Insert"
				name="root.testcase.01" interval="5" destination="C:\gm_FileCopyMonitor\drop\work"
			>
				<execute executable="C:\gm_FileCopyMonitor\test.cmd" arguments="" workingDirectory="C:\gm_FileCopyMonitor"/>
				<paths>
					<clear/>
					<add path="C:\gm_FileCopyMonitor\drop">
						<clear/>
						<add filter="*.txt"/>
					</add>
				</paths>
			</add>
		</monitors>
	</johnson.fileCopyMonitor>

</configuration>