<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<johnson.fileCopyMonitor>
		<monitors>
			<add xdt:Transform="Insert"
				name="Headshot Unzip Process" interval="30" destination="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\Headshot"
			>
				<execute executable="\\jgsm-sql01\D$\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jgsm-app-r1\D$\HeadshotUpdate\Unzip.HeadshotUpdate.xml"
					workingDirectory="\\jgsm-sql01\D$\Icod.Wod" 
				/>
				<paths>
					<clear />
					<add path="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\Headshot">
						<clear />
						<add filter="*.zip" />
					</add>
				</paths>
			</add>
			<add xdt:Transform="Insert"
				name="Headshot Update Process" interval="30" destination="\\jgsm-app-r1\D$\HeadshotUpdate\Drop"
			>
				<execute executable="\\jgsm-sql01\D$\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jgsm-app-r1\D$\HeadshotUpdate\HeadshotUpdate.xml"
					workingDirectory="\\jgsm-sql01\D$\Icod.Wod"
				/>
				<paths>
					<clear />
					<add path="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\Headshot">
						<clear />
						<add filter="*.bmp" />
						<add filter="*.gif" />
						<add filter="*.jpg" />
						<add filter="*.png" />
						<add filter="*.tif" />
					</add>
				</paths>
			</add>

			<add xdt:Transform="Insert"
				name="CV Unzip Process" interval="30" destination="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\CV"
			>
				<execute executable="\\jgsm-sql01\D$\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jgsm-app-r1\D$\CVUpdate\Unzip.CVUpdate.xml"
					workingDirectory="\\jgsm-sql01\D$\Icod.Wod"
				/>
				<paths>
					<clear />
					<add path="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\CV">
						<clear />
						<add filter="*.zip" />
					</add>
				</paths>
			</add>
			<add xdt:Transform="Insert"
				name="CV Update Process" interval="30" destination="\\jgsm-app-r1\D$\CVUpdate\Drop"
			>
				<execute executable="\\jgsm-sql01\D$\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jgsm-app-r1\D$\CVUpdate\CVUpdate.xml"
					workingDirectory="\\jgsm-sql01\D$\Icod.Wod"
				/>
				<paths>
					<clear />
					<add path="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\CV">
						<clear />
						<add filter="*.pdf" />
					</add>
				</paths>
			</add>
		</monitors>
	</johnson.fileCopyMonitor>

</configuration>