<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<johnson.fileCopyMonitor>
		<monitors>
			<!--<add xdt:Transform="Insert"
				name="Headshot Unzip Process" interval="15" destination="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\Headshot"
			>
				<execute executable="\\jgsm-sql01\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jgsm-app-r1\HeadshotUpdate\Unzip.HeadshotUpdate.xml"
					workingDirectory="\\jgsm-sql01\Icod.Wod" 
				/>
				<paths>
					<clear />
					<add path="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\Headshot">
						<clear />
						<add filter="*.zip" />
					</add>
				</paths>
			</add>-->
			<add xdt:Transform="Insert"
				name="Headshot Update Process" interval="15" destination="\\jgsm-app-r1\HeadshotUpdate\Drop"
			>
				<execute executable="\\jgsm-sql01\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jgsm-app-r1\HeadshotUpdate\HeadshotUpdate.xml"
					workingDirectory="\\jgsm-sql01\Icod.Wod"
				/>
				<paths>
					<clear />
					<add path="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\Headshot">
						<clear />
						<add filter="*.bmp" />
						<add filter="*.gif" />
						<add filter="*.jpg" />
						<add filter="*.png" />
						<add filter="*.tif" />
					</add>
				</paths>
			</add>

			<!--<add xdt:Transform="Insert"
				name="CV Unzip Process" interval="15" destination="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\CV"
			>
				<execute executable="\\jgsm-sql01\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jgsm-app-r1\CVUpdate\Unzip.CVUpdate.xml"
					workingDirectory="\\jgsm-sql01\Icod.Wod"
				/>
				<paths>
					<clear />
					<add path="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\CV">
						<clear />
						<add filter="*.zip" />
					</add>
				</paths>
			</add>-->
			<add xdt:Transform="Insert"
				name="CV Update Process" interval="15" destination="\\jgsm-app-r1\CVUpdate\Drop"
			>
				<execute executable="\\jgsm-sql01\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jgsm-app-r1\CVUpdate\CVUpdate.xml"
					workingDirectory="\\jgsm-sql01\Icod.Wod"
				/>
				<paths>
					<clear />
					<add path="\\files.cornell.edu\ccb\shared\Jgsm-Web-Pickup\CV">
						<clear />
						<add filter="*.pdf" />
					</add>
				</paths>
			</add>

			<add xdt:Transform="Insert"
				name="Nintex ImageNow Processor" interval="15" destination="\\jgsm-app-r1\ImageNow\Drop"
			>
				<execute executable="\\jgsm-sql01\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jgsm-app-r1\ImageNow\FileCopy.xml"
					workingDirectory="\\jgsm-sql01\Icod.Wod"
				/>
				<paths>
					<clear />
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService">
						<clear />
						<add filter="*.Adm - Application ESRG.A-*.pdf"/>
					</add>
				</paths>
			</add>
		</monitors>
	</johnson.fileCopyMonitor>

</configuration>