<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<johnson.fileCopyMonitor>
		<monitors>
			<add xdt:Transform="Insert"
				name="root.testcase.01" interval="30" destination="%HOMEDRIVE%%HOMEPATH%\drop\work"
			>
				<execute executable="%HOMEDRIVE%%HOMEPATH%\bin\now.exe" arguments="" workingDirectory="%HOMEDRIVE%%HOMEPATH%\bin" />
				<paths>
					<clear />
					<add path="%HOMEDRIVE%%HOMEPATH%\drop">
						<clear />
						<add filter="*.txt" />
					</add>
				</paths>
			</add>
		</monitors>
	</johnson.fileCopyMonitor>

</configuration>