<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<johnson.fileCopyMonitor>
		<monitors>
			<add xdt:Transform="Insert"
				name="Headshot Update Photo Hopper" interval="15" destination="\\jcb-app-test\HeadshotUpdate\Drop">
				<execute executable="\\jcb-app-test\HeadshotUpdate\Johnson.ProfilePhotoHopper.exe" arguments="\\jcb-app-test\HeadshotUpdate\Drop"
					workingDirectory="\\jcb-app-test\HeadshotUpdate"/>
				<paths>
					<clear/>
					<add path="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\test\Headshot">
						<clear/>
						<add filter="*.bmp"/>
						<add filter="*.gif"/>
						<add filter="*.jpg"/>
						<add filter="*.png"/>
						<add filter="*.tif"/>
					</add>
				</paths>
			</add>
			<add xdt:Transform="Insert"
				name="Headshot Update Process" interval="15" destination="\\jcb-app-test\HeadshotUpdate\Johnson\Drop">
				<execute executable="\\jcb-app-test\Icod.Wod\Icod.Wod.Client.exe" arguments="\\jcb-app-test\HeadshotUpdate\Johnson\HeadshotUpdate.xml"
					workingDirectory="\\jcb-app-test\Icod.Wod"/>
				<paths>
					<clear/>
					<add path="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\test\Headshot\Johnson">
						<clear/>
						<add filter="*.bmp"/>
						<add filter="*.gif"/>
						<add filter="*.jpg"/>
						<add filter="*.png"/>
						<add filter="*.tif"/>
					</add>
				</paths>
			</add>
			<add xdt:Transform="Insert"
				name="Headshot Update Faculty Process" interval="15" destination="\\jcb-app-test\HeadshotUpdate\Johnson\Faculty\Drop">
				<execute executable="\\jcb-app-test\Icod.Wod\Icod.Wod.Client.exe" arguments="\\jcb-app-test\HeadshotUpdate\Johnson\Faculty\HeadshotUpdate.xml"
					workingDirectory="\\jcb-app-test\Icod.Wod"/>
				<paths>
					<clear/>
					<add path="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\test\Headshot\Johnson\Faculty">
						<clear/>
						<add filter="*.bmp"/>
						<add filter="*.gif"/>
						<add filter="*.jpg"/>
						<add filter="*.png"/>
						<add filter="*.tif"/>
					</add>
				</paths>
			</add>
			<add xdt:Transform="Insert"
				name="Headshot Update ExecEd Faculty Process" interval="15" destination="\\jcb-app-test\HeadshotUpdate\Johnson\Faculty\ExecEd\Drop">
				<execute executable="\\jcb-app-test\Icod.Wod\Icod.Wod.Client.exe" arguments="\\jcb-app-test\HeadshotUpdate\Johnson\Faculty\ExecEd\HeadshotUpdate.xml"
					workingDirectory="\\jcb-app-test\Icod.Wod"/>
				<paths>
					<clear/>
					<add path="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\test\Headshot\Johnson\Faculty\ExecEd">
						<clear/>
						<add filter="*.bmp"/>
						<add filter="*.gif"/>
						<add filter="*.jpg"/>
						<add filter="*.png"/>
						<add filter="*.tif"/>
					</add>
				</paths>
			</add>

			<add xdt:Transform="Insert"
				name="CV Update Process" interval="15" destination="\\jcb-app-test\CVUpdate\Drop"
			>
				<execute executable="\\jcb-app-test\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jcb-app-test\CVUpdate\CVUpdate.xml"
					workingDirectory="\\jcb-app-test\Icod.Wod"
				/>
				<paths>
					<clear />
					<add path="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\test\CV">
						<clear />
						<add filter="*.pdf" />
					</add>
				</paths>
			</add>

			<add xdt:Transform="Insert"
				name="Nintex ImageNow Processor" interval="15" destination="\\jcb-app-test\ImageNow\Drop"
			>
				<execute executable="\\jcb-app-test\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jcb-app-test\ImageNow\ProcessFileList.xml"
					workingDirectory="\\jcb-app-test\Icod.Wod"
				/>
				<paths>
					<clear/>
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService\test\Reprocess">
						<clear/>
						<add filter="*.Adm - Application ESRG.A-*.pdf"/>
					</add>
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService\test\AMBA-MBA">
						<clear/>
						<add filter="*.Adm - Application ESRG.A-*.pdf"/>
					</add>
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService\test\BADM-MBA">
						<clear/>
						<add filter="*.Adm - Application ESRG.A-*.pdf"/>
					</add>
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService\test\CQEMBA-MBA">
						<clear/>
						<add filter="*.Adm - Application ESRG.A-*.pdf"/>
					</add>
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService\test\CTEMBA-MBA">
						<clear/>
						<add filter="*.Adm - Application ESRG.A-*.pdf"/>
					</add>
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService\test\EMBA-MBA">
						<clear/>
						<add filter="*.Adm - Application ESRG.A-*.pdf"/>
					</add>
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService\test\EXCINGM">
						<clear/>
						<add filter="*.Adm - Application ESRG.A-*.pdf"/>
					</add>
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService\test\WJMBA-MBA">
						<clear/>
						<add filter="*.Adm - Application ESRG.A-*.pdf"/>
					</add>
				</paths>
			</add>

			<add xdt:Transform="Insert"
				name="Nintex ImageNow Processor for CQEMBA-MBA" interval="15" destination="\\jcb-app-test\ImageNow\Drop\CQEMBA-MBA"
			>
				<execute executable="\\jcb-app-test\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jcb-app-test\ImageNow\CQEMBA-MBA.xml"
					workingDirectory="\\jcb-app-test\Icod.Wod"
				/>
				<paths>
					<add path="\\jcb-imagenow.business.cornell.edu\imagenow\home\ImageNow\NintexPrintService\test\CQEMBA-MBA">
						<clear/>
						<add filter="*.Adm - Application ESRG.*-2???.pdf"/>
					</add>
				</paths>
			</add>

			<add xdt:Transform="Insert"
				name="Kfs Security File" interval="15" destination="\\jcb-app-test\Kfs"
			>
				<execute executable="\\jcb-app-test\Icod.Wod\Icod.Wod.Client.exe"
					arguments="\\jcb-app-test\Kfs\LoadSecurity.xml"
					workingDirectory="\\jcb-app-test\Icod.Wod"
				/>
				<paths>
					<add path="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\test\Kfs">
						<clear/>
						<add filter="security.csv"/>
					</add>
				</paths>
			</add>

			<add xdt:Transform="Insert"
				name="AmericasUpload" interval="15" destination="\\jcb-app-test\AmericasUploads"
			>
				<execute executable="\\jcb-app-test\Icod.Wod\Icod.Wod.Client.exe" arguments="\\jcb-app-test\AmericasUploads\AmericasUpload.xml"
					workingDirectory="\\jcb-app-test\Icod.Wod"/>
				<paths>
					<add path="\\files.cornell.edu\ccb\shared\JGSM-Web-Pickup\test\Americas">
						<clear/>
						<add filter="AmericasUpload.csv"/>
					</add>
				</paths>
			</add>
		</monitors>
	</johnson.fileCopyMonitor>

</configuration>